<!doctype html>
<meta charset=utf-8>
<title>Augmented sandbox</title>
<link rel="stylesheet" href="{{ url_for('.static', filename='leaflet.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='map.css') }}">
<body>
  <div id="map"></div>
</body>
<script src="{{ url_for('.static', filename='leaflet.js') }}"></script>
<script src="{{ url_for('.static', filename='map.js') }}"></script>
